@model IEnumerable<MVCProjectInMasterDetailsPattern.Models.Trainee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TraineeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TraineeEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TraineeContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TraineeImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TraineeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TraineeEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TraineeContact)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.TraineeImage)*@
            <img src="@Url.Content(item.TraineeImage)" height="80" width="80"/>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TraineeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TraineeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TraineeID })
        </td>
    </tr>
}

</table>
